# Port for the FastAPI application server
PORT=8080

INTERNAL_SECRET=

# Database
# For local development (SQLite)
DATABASE_URL=sqlite:///./paymate.db
# For production (PostgreSQL) - uncomment and set the appropriate values
# DATABASE_URL=postgresql://username:password@hostname:port/database_name

# AI Models
GEMINI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=

# ALATPay Configuration
ALATPAY_BASE_URL=https://api.alatpay.ng
ALATPAY_API_KEY=
ALATPAY_MERCHANT_ID=

# Backend Service
BACKEND_SERVICE_URL=http://localhost:8000/api
INTERNAL_AUTH_KEY=
